@font-face {
	font-family: "LeagueSpartan";
	src: url("/src/assets/fonts/LeagueSpartan-Bold.ttf");
	font-weight: 700;
}

@font-face {
	font-family: "LeagueSpartan";
	src: url("/src/assets/fonts/LeagueSpartan-Medium.ttf");
	font-weight: 500;
}

@font-face {
	font-family: "LeagueSpartan";
	src: url("/src/assets/fonts/LeagueSpartan-Regular.ttf");
	font-weight: 400;
}

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/* Font Family */
	--font-league-spartan: "LeagueSpartan", sans-serif;

	/* Primary & Accents */
	--color-purple-primary: #7c5dfa;
	--color-purple-light: #9277ff;
	--color-red-primary: #ec5757;
	--color-red-light: #ff9797;

	/* Dark Theme Surfaces */
	--color-dark-bg: #141625;
	--color-dark-sidebar: #1e2139;
	--color-dark-card: #252945;
	--color-dark-black: #0c0e16;

	/* Light Theme Surfaces & Text */
	--color-light-bg: #f8f8fb;
	--color-light-text-secondary: #dfe3fa;
	--color-light-text-muted: #888eb0;
	--color-light-text-main: #7e88c3;
}
